# Django
# Django
.pyc
__pycache__/
db.sqlite3
.env
/migrations/
settings_local.py

# React
node_modules/
build/
.cache/
npm-debug.log
yarn-error.log

# General
.log
.DS_Store
Thumbs.db
ehthumbs.db
coverage/
.vscode/
.idea/
venv/

readme.txt
news
requirements
# api
requirements
settings
news

api/spotify_artist.py
api/readtoken.py

access_token.txt
token_store.txt