html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  background-color: rgba(156, 189, 163, 0.888);
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-section{
    background-color: rgb(223, 41, 9);
    width: 100%; 
    border-radius: 8px;
}

.song-list-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
    /* background-color: #838ad8; */
    border-radius: 8px 8px 0 0;
    /* box-shadow: 0 1px 0 0 #ddd; */
    gap: 15px;
}
.song-section{
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    gap: 20px;
    background-color: #f5f5f7;
    height: 16rem;
    padding: 10px 20px;
    background-color: #d37f96;
    /* border-radius: 8px 8px 0 0; */
    /* box-shadow: 0 1px 0 0 #ddd; */
    gap: 15px;  
    flex-shrink: 0;
}