{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/home.css' %}">
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/fetchMusic.js' %}"></script>
</head>
{% block content %}    
  <div class="dashboard-container">
    <div class="sidebar" id="sidebarToggle">
         <div class="sidebar-home">
            <nav class="sidebar-menu">
                <div class="navButton" onclick="hideSidebar()">
                    <div class="btn1"></div>
                    <div class="btn2"></div>
                    <div class="btn3"></div>
                </div>

                <a href="#" class="menu-item"> 
                    <i class="fa-solid fa-house" style="color: #c0bfbf;"></i>
                    Home
                </a>
                <a href="#" class="menu-item">
                    <i class="fa-regular fa-object-group" style="color: #c0bfbf;"></i>
                    Browse</a>
                    <a href="#" class="menu-item">
                        <i class="fa-regular fa-images" style="color: #c0bfbf" ></i>
                    Album</a>
                <a href="#" class="menu-item">
                    <i class="fa-regular fa-user" style="color: #c0bfbf;"></i>
                    Artists</a>
            </nav>
        </div>

        <div class="sidebar-my-music">
            <h2 class="sidebar-section-title">My Music</h2>
            <nav class="sidebar-menu">
            <a href="#" class="menu-item">
                 <i class="fa-solid fa-hourglass-end" style="color: #c0bfbf;"></i>
                Recently Played</a>
            <a href="#" class="menu-item">
                <i class="fa-regular fa-file" style="color: #c0bfbf;"></i>
                Local Files </a>
            </nav>
        </div>

        <div class="sidebar-playlists">
            <h2 class="sidebar-section-title">Playlists</h2>
            <nav class="sidebar-menu playlists-list">
            <a href="#" class="menu-item">General Playlist</a>
            <a href="#" class="menu-item">Ease up beats</a>
            <a href="#" class="menu-item">Pop songs</a>
            <a href="#" class="menu-item">Mood swings</a>
            </nav>
        </div>
    </div>

    <div class="main">
        <div class="topbar">
            <div class="navButtonOut">
                <div class="btn1"></div>
                <div class="btn2"></div>
                <div class="btn3"></div>
            </div>
            <div class="topbar-left">
                <div class="menu-icon">⋮⋮</div>
                <input type="text" placeholder="Search" size="30" class="search-input" id="searchInput" />
            </div>
            <div class="divider"></div>

            <div class="topbar-right">
                <button class="notification-btn"><i class="fa-regular fa-bell" style="color: #000000;"></i></button>
                <button class="settings-btn"><i class="fa-solid fa-gear" style="color: #030303;"></i></button>
            </div>
        </div>

        <div class="artists">
            <h2>Top Artists</h1>
            <div class="artist-card-section">
                {% if Artists %}
                    {% for results in Artists %}
                    {% if results.image %}
                            <div class="artist-card">
                                <img src="{{results.image}}" alt="{{results.name}}" />
                                <p>{{results.name}}</p>
                            </div>
                        {% endif %}
                       {% endfor %}

                {% else %}
                <p>No artists found yet.</p>
                {% endif %}
            </div>
        </div>
        
        <div class="musciPlayed">
           <div class="music-section">
            <div class="nowPlaying">
                <h3>Now Playing</h3>
                {% comment %} {% if PlayedTracks %} {% endcomment %}
                {% comment %} <div> {% endcomment %}
                    {% comment %} <div class="playingMusicImage">
                        <img src="{{PlayedTrack.image_url}}" alt="playingMusicImage" class="playing-image">
                        <div class="{{playingMusicArtist}}">This is the artist</div>
                    </div>
                    <div class="playingMusicControls">
                        <audio src="{{PlayedTrack.audio_url}}"></audio>
                    </div> {% endcomment %}
                    <div class="playingMusicImage">
                        <img src="rockstar.jpg" alt="Rockstar" class="song-thumb" />
                            <div class="song-info">
                                <h4>Rockstar</h4>
                                <p>Post Malone</p>
                            </div>
                    </div>
                        <div class="playingMusicControls">
                            <div class="duration">4:31</div>
                            <div class="track-num">01</div>
                        </div> 
                             {% comment %} <span class="track-num">{{ forloop.counter|stringformat:"02d" }}</span> {% endcomment %}

                {% comment %} </div> {% endcomment %}
                 {% comment %} {% else %} {% endcomment %}
                {% comment %} <p>No music playing yet.</p> {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
                </div>

            <section class="mostly-played">
                <h3>Mostly Played ❤️</h3>
                <div class="song-row">
                    {% if MostlyPlayed %}
                        {% for item in MostlyPlayed %}
                         {% if item.image %}
                            <span class="track-num">{{ forloop.counter|stringformat:"02d" }}</span>
                            <img src="{{ item.image }}" alt="{{ item.name }}" class="song-thumb" />
                            <div class="song-info">
                                <h4>{{ item.name }}</h4>
                                <p>{{ item.genre }}</p>
                            </div>
                            <span class="duration">{{ artist.duration }}</span>
                            {% endif %}
         {% endfor %}
                    {% else %}
                        <p>No artists found yet.</p>
                    {% endif %}
                </div>
            </section>

        </div>
    </div>
  </div>
{% endblock %}


<script>
   

   document.getElementById("searchInput").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {event.preventDefault();
            const mood = this.value.trim();
            if (!mood) {
        alert("Please enter a mood to search");
        return;
      }
            if (mood !== "") 
            {
            window.location.href = `/search/?mood=${encodeURIComponent(mood)}`;}}
    });
</script>