{% extends "base.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MoodsList</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <div class="mx-auto" style="flex-grow: 1; max-width: 500px;">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 100%;">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            <button value="logout" type="submit">Log Out</button>
          </form>
        {% endif %}
      </div>
      <div>
        <i class="fa-solid fa-bell fa-xl me-3"></i>
        <i class="fa-light fa-house"></i>
        <i class="fa-solid fa-house fa-xl me-3"></i>
        <i class="fa-solid fa-user fa-xl" id="userProfile" ></i>
      </div>
    </div>
  </div>
</nav>

<div class="container text-center mt-5">
  <div class="d-flex flex-column align-items-center">
  <div class="card mx-auto mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">WHAT'S YOUR MOOD?</h5>
    </div>
  </div>

  <div class="mood_input">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="dropdown-center mb-3 d-flex align-items-center">
        <div class="me-2">
          <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
          {{ form.type }}
        </div>
        <div class="icon">
          <i class="fa-solid fa-microphone fa-xl icon-control"></i>
        </div>
      </div>
      <button value="mood" name="action" type="submit" class="btn btn-primary btn-lg">Search</button>
    </form>

    {% comment %} <button {% endcomment %}
    {% comment %} <a href="{% static 'temp.html' %}" class="btn btn-primary">Theme Test</a> {% endcomment %}
      {% comment %} /button> {% endcomment %}
</div>
 
</div>
</div>
{% endblock %}


<script>
   document.getElementById('userProfile').addEventListener('click', () => {
    alert('User icon clicked!');
  });
</script>