html,body{
  height: 100%;
}
body{
  background-color: rgb(58, 145, 199);
  color: white;
  overflow: auto;
}

.content-wrapper {
  height: calc(100vh - 50px);
  /* overflow-y: auto;  */
}

h1{
    text-align: center;
    font-size: 2em;
}

.navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .nav-link {
    font-weight: 500;
    margin: 0 10px;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .form-control {
    max-width: 100%;
  }
  .main{
    position: relative;
  }

   .mood_input{
    position: relative;
   }
   .icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
   .icon-control{
 
    margin-left: 10px;
    transform: translateY(111px);
    margin-top: 10px;
    vertical-align: -1.125em;
   }
   .dropdown-center {
    display: flex;
    align-items: center;
  }
  .bookmark{
    position: relative;
    top: -7rem;
  }
  .controls-container{
    position: absolute;
  }
  .controls{
    position: relative;
    top: 18rem;
    left: 30.5rem;
  }


