{% extends "layout.html" %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/submit" method="POST" class="min-vh-100 g-3">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="username" class="form-control" name="inputUsername" placeholder="Enter your username" required />
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" name="inputEmail" placeholder="Enter your Email" required />
                </div>
                <div class="col-md-6">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" name="inputPassword" placeholder="Enter your passwword" required />
                </div>
                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-primary me-3">Signin</button>
                    <button type="submit" class="btn btn-danger me-3">Signup in with Google</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}